*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

--bg-body: hsl(36, 100%, 99%);
--bg-btn: hsl(5, 85%, 63%);

--fc-text-primary: hsl(236, 13%, 42%);


--fs-nav: 18px;



}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 6rem;
    background-color: var(--bg-body);
    font-family: 'Inter', sans-serif;
}

.container{

    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5% 35% 35% 25%;
    grid-template-areas: "header header header" "mainImg mainImg aside"
                        "mainTxtTitle mainTxtSecond aside" "article article article";
    gap: 1rem;
  
                        
}

.cabecalho{
    grid-area: header;
    align-items: center;
    justify-content: center;

}

.menu{
    display: flex;
    gap: 2rem;
    font-size: var(--fs-nav);
}

.nav_item{
    text-decoration: none;
    color: var(--fc-text-primary);
    cursor: pointer;

}

.nav_item_icon_burguer{
    display: none;
}

.main_img{
    grid-area: mainImg;
  
}

.img_main{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_text_title{
    grid-area: mainTxtTitle ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
 
}

.main_text_title  h1{

    font-size: 3.5rem;
    font-weight: 800;
    padding: 0 10px 10px 0;
}

.main_text_second{
    grid-area: mainTxtSecond;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 2rem;
    padding: 1rem;
}

.main_text_second p{
    font-size: 15px;
}

.main_text_second_btn{
    width: 10rem;
    padding: 1rem;
    background-color: var(--bg-btn) ;
    border: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    font-size: 10px;

}

.aside{
    grid-area: aside;
   
}

.article{
    grid-area: article;
    border: 1px solid black;
}   

.cabecalho{
    display: flex;
    justify-content: space-between;

}

@media (max-width: 1000px) {
    .nav_item{
        display: none;
    }

    .nav_item_icon_burguer{
        display: block;
    }
}