*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

--bg-body: hsl(36, 100%, 99%);
--bg-btn: hsl(5, 85%, 63%);
--bg-btn-hover: hsl(0, 0%, 0%);
--bg-aside: hsl(0, 0%, 0%);

--fc-text-primary: hsl(236, 13%, 42%);
--fc-nav-item-hover: hsl(5, 85%, 63%);
--fc-title-aside: hsl(35, 77%, 62%);
--fc-title-aside-card: hsl(36, 100%, 99%);
--fc-text-aside-card: hsl(236, 13%, 42%);



--fs-nav: 18px;



}

body{
    /* height: 100vh; */
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 4rem 4rem 4rem;
    background-color: var(--bg-body);
    font-family: 'Inter', sans-serif;
}

.container{

    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 1.0fr 0.5fr 0.5fr;
    grid-template-areas: "header header header" "mainImg mainImg aside"
                        "mainTxtTitle mainTxtSecond aside" "article1 article2 article3";
    gap: 2rem;
  
                        
}

.cabecalho{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu{
    display: flex;
    gap: 2rem;
    font-size: var(--fs-nav);
}

.nav_item{
    text-decoration: none;
    color: var(--fc-text-primary);
    cursor: pointer;
    font-size: 15px;

}
.nav_item:hover{
    color: var(--fc-nav-item-hover);
}

.nav_item_icon_burguer{
    display: none;
}

.main_img{
    grid-area: mainImg;
  
}

.img_main{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_text_title{
    grid-area: mainTxtTitle ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 2rem 0rem 2rem;
    margin-bottom: 2rem;
 
}

.main_text_title  h1{

    font-size: 3.5rem;
    font-weight: 800;
    padding: 0 10px 10px 0;
}

.main_text_second{
    grid-area: mainTxtSecond;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap:3rem;
    color: var(--fc-text-primary);
    padding: 0 1rem 0rem 1rem; 
    margin-bottom: 4rem;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 15px;
    font-weight: 300;
}

.main_text_second p{
    font-size: 15px;
}

.main_text_second_btn{
    width: 10rem;
    padding: 1rem;
    background-color: var(--bg-btn) ;
    border: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    font-size: 10px;
    cursor: pointer;

}

.main_text_second_btn:hover{
    background-color: var(--bg-btn-hover);

}
.aside{
    grid-area: aside;
    background-color: var(--bg-aside) ;
    padding: 2rem 2rem 1rem 1rem;
    margin-bottom: 4rem;
   
}

.aside_title{
    font-size: 2rem;
    color: var(--fc-title-aside) ;

}

.aside_card{
    padding-right:1rem ;
}
.aside_card h3{
    color: hsl(36, 100%, 99%);
    margin-top: 2rem;
    margin-bottom: .5rem;
}

.aside_card h3:hover{
    color:var(--fc-title-aside);
    cursor: pointer;
}

.aside_card p{
    color: var(--fc-text-aside-card);
    font-weight: 700;
    font-size: 15px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 15px;
}

.article_card_1{
    grid-area: article1;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;


}   

.article_card_img img{
    width: 100%;

} 

.article_card_text{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.article_card_text span{
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    color: var(--fc-text-primary);
    font-weight: 700;
    
}

.article_card_text h4{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;

}

.article_card_text h4:hover{
    color: var(--fc-nav-item-hover);
    cursor: pointer;
}

.article_card_text p{
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    color: var(--fc-text-primary);
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 25px;

}



.article_card_2{
    grid-area: article2;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;

}   

.article_card_3{
    grid-area: article3;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
} 


@media (max-width: 1000px) {
    .nav_item{
        display: none;
    }

    .nav_item_icon_burguer{
        display: block;
    }
}